:root {
  --color-rosewater: rgb(245, 224, 220);
  --color-flamingo: rgb(242, 205, 205);
  --color-pink: rgb(245, 194, 231);
  --color-mauve: rgb(203, 166, 247);
  --color-red: rgb(243, 139, 168);
  --color-maroon: rgb(235, 160, 172);
  --color-peach: rgb(250, 179, 135);
  --color-yellow: rgb(249, 226, 175);
  --color-green: rgb(166, 227, 161);
  --color-teal: rgb(148, 226, 213);
  --color-sky: rgb(137, 220, 235);
  --color-sapphire: rgb(116, 199, 236);
  --color-blue: rgb(137, 180, 250);
  --color-lavender: rgb(180, 190, 254);
  --color-text: rgb(205, 214, 244);
  --color-subtext1: rgb(186, 194, 222);
  --color-subtext0: rgb(166, 173, 200);
  --color-overlay2: rgb(147, 153, 178);
  --color-overlay1: rgb(127, 132, 156);
  --color-overlay0: rgb(108, 112, 134);
  --color-surface2: rgb(88, 91, 112);
  --color-surface1: rgb(69, 71, 90);
  --color-surface0: rgb(49, 50, 68);
  --color-base: rgb(30, 30, 46);
  --color-mantle: rgb(24, 24, 37);
  --color-crust: rgb(17, 17, 27);


}

body {
  margin: 0px;
  background-color: var(--color-base);
}

.top-bar {
  border: none;
  height: 10vh;
  background-color: var(--color-crust);
}
#nav-bar {
  position: absolute;
  height: 10vh;
  line-height: 10vh;
  left: 5vw;
  display: inline-block;
}
.nav-button {
  font-family: 'Cairo', sans-serif;
  display: inline-block;
  margin-right: 3vw;
  text-align: center;
  color: var(--color-text);
}
#title {
  font-family: 'Cairo', sans-serif;
  height: 10vh;
  line-height: 10vh;
  /*font-size: 2vh;*/
  color: var(--color-text);
  width: 20vw;
  text-align: center;
  border: 1px solid transparent;
  margin:auto;
}

a:link, a:visited {
  color: var(--color-text);
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
  color: var(--color-mauve);
}



.main-content {
  background-color: var(--color-crust);
  border-radius: 10px;
  width: 66vw;
  height: 60vh;
  margin:auto;
  margin-top: 15vh;
}

ul {
  height: 100%;
  width: 100%;
  text-align:center;
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  overflow: scroll;
}

li {
  font-family: 'Cairo', sans-serif;
  color: var(--color-text);
  width: 75%;
  height: 15vh;
  line-height: 15vh;
  font-size: 3vh;
  margin: auto;
  border-bottom: solid 2px #8BE9FD;
}

.player {
  width: 640px;
  margin: auto
}
